<!DOCTYPE html>
{% extends 'kelola/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Pengetahuan</title>
</head>
<body>
{% block content %}
   <table class="table">
            <tr>
                <th>Judul</th>
                <th>Deskripsi</th>
                <th>Tanggal Kegiatan</th> 
                <th>Tanggal Dibuat</th>
                
            </tr>
            
            <tr>
                <td>{{ events.title }} </td>
                <td>{{ events.description }}</td> 
                <td>{{ events.date_event }}</td>
                <td>{{ events.published_date }}</td>

                
                
            </tr>
            
        </table>
{% endblock %}
</body>
</html>