<!DOCTYPE html>
{% extends 'kelola/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Member</title>
</head>
<body>
{% block content %}
   <table class="table">
            <tr>
                <th>Id Baby</th>
                <th>Baby Name</th> 
                <th>Date Birth</th>
                <th>Mother Name</th>
                <th>Father Name</th>
                <th>Address</th>
                <th>Weight Birth</th>
                <th>Height Birth</th>
                <th>Head Circumference Birth</th>
                <th> Created Date</th>
            </tr>
            
            <tr>
                <td>{{ member_baby.id_baby }} </td>
                <td>{{ member_baby.baby_name }}</td> 
                <td>{{ member_baby.date_birth }}</td>
                <td>{{ member_baby.mother_name }} </td>
                <td>{{ member_baby.father_name }}</td> 
                <td>{{ member_baby.address }}</td>
                <td>{{ member_baby.weight_birth }} </td>
                <td>{{ member_baby.height_birth }}</td> 
                <td>{{ member_baby.headcircumference_birth }}</td>
                <td>{{ member_baby.created_date }}</td>
                
            </tr>
            
        </table>
{% endblock %}
</body>
</html>