{% extends 'kelola/base.html' %}

{% block content %}

    <section class="title">
    	<div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Edit Anggota Balita</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{% url 'knowledge_list' %}"><h3>Beranda / </h3></a> </li>
                        <li><a href="{% url 'show_anggota' %}"><h4>Kelola Anggota Balita / </h4></a></li>
                        <li class="active"><h5>Edit Anggota Balita</h5></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title --> 
    
    

    <section id="registration-page" class="container">
    	<form method="POST" class="post-form center">
	    	<fieldset class="registration-form center">
	        	{% csrf_token %}
	        	{{ form.as_p }}
	        	<button type="submit" class="save btn btn-success">Simpan</button>
	     	</fieldset>   
	    </form>
    </section>
{% endblock %}