{% extends 'kelola/base.html' %}

{% block content %}

    
    <!--<form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    <script type="text/javascript">
    $( document).ready(function(){
    	$("#id_check").change(function() {
    		var check = $(this).val();
    		if (check == "immunization"){
    			$("#id_value").parent().hide();
    			$("#id_imun_value").parent().show();
    		}
    		else{
    			$("#id_value").parent().show(); 
    			$("#id_imun_value").parent().hide();
    		}


    	});

    	$(document).ready(function (){
    		$("#id_value").parent().hide(); 
    			$("#id_imun_value").parent().hide();

    	}); 
    }); 
    </script>
    -->


<section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Kelola Riwayat Pemeriksaan</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{% url 'knowledge_list' %}"><h4>Beranda / </h4></a> </li>
                        <li class="active"><h5>Kelola Riwayat Pemeriksaan</h5></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->  

<div class="gap"></div>

<section id="recent-events">
    <div class="container">
        <div class="center">
            <h3>Pencatatan Riwayat Pemeriksaan</h3>
            <p class="lead"></p>
        </div>  

        <div class="center">
        <a href="{% url 'new_history' %}" class="btn btn-default">Tambah Riwayat Pemeriksaan</a>
        
</div>
    </div>

</section>

<section id="recent-works">
    <div class="container">
        <div class="center">
            <h3>Pencarian Riwayat Pemeriksaan</h3>
            <p class="lead"></p>
        </div>  

        <div class="center">
        <form>
    
      <input type="number" id="nomorbalita" name="nomorbalita" placeholder="Masukkan Nomor Balita">
      <a id="filter-baby" class="btn btn-warning">  <h5>Cari</h5></a>
    </form>
        
</div>
    </div>

</section>


  

        


<section id="about-us" class="container main">
        <div class="row-fluid">
            <div class="span12">
                <div class="blog">

    <div class="blog-item well">
        <div class="center">
            <h2>Riwayat Pencatatan Tinggi Badan</h2>
        </div>
        <div style="overflow-x:auto;">
            <table class="customers">
                
                <tr>
                    <th>No Balita</th>
                    <th>Pemeriksaan</th> 
                    <th>Usia</th>
                    <th>Nilai</th>
                    <th>Status</th>
                    <th>Tanggal Pemeriksaan</th>
                </tr>
                {% for item in check_height %}
                <tr>
                    <td>{{ item.baby.id_baby }} </td>
                    <td>{{ item.check }} </td> 
                    <td>{{ item.baby.umur_bulan_bayi }} bulan</td>
                    <td>{{ item.value }} cm</td>
                    <td>{{ item.status }} </td>
                    <td>{{ item.published_date}} </td>
                </tr>
                {% empty %}
                <tr>
                    <td>data tidak tersedia </td>
                    <td>data tidak tersedia </td>
                    <td>data tidak tersedia </td>
                    <td>data tidak tersedia </td>
                    <td>data tidak tersedia </td>
                    <td>data tidak tersedia </td>
                    
                </tr>
                {% endfor %}  
            </table>
        </div>
    </div>

        <div class="gap"></div>

    <div class="blog-item well">
        <div class="center">
            <h2>Riwayat Pencatatan Berat Badan</h2>
        </div>
            <div style="overflow-x:auto;">
            

        <table class="customers">
            
            <tr>
                <th>Nomor Balita</th>
                <th>Pemeriksaan</th> 
                <th>Usia</th>
                <th>Nilai</th>
                <th>Status</th>
                <th>Tanggal Pemeriksaan</th>
            </tr>
            {% for item in check_weight %}
            <tr>
                <td>{{ item.baby.id_baby }} </td>
                <td>{{ item.check }} </td>
                <td>{{ item.baby.umur_bulan_bayi }} bulan</td>
                <td>{{ item.value }} kg</td>
                <td>{{ item.status }} </td>
                <td>{{ item.published_date}} </td>

            </tr>
            {% empty %}
            <tr>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                
            </tr>
            {% endfor %}  
        </table>
        </div>
    </div>


        <div class="gap"></div>

     <div class="blog-item well">
          <div class="center">
<h2>Riwayat Pencatatan Lingkar Kepala</h2>
</div>
            <div style="overflow-x:auto;">
        <table class="customers">
      
            <tr>
                <th>Nomor Balita</th>
                <th>Pemeriksaan</th> 
                <th>Usia</th>
                <th>Nilai</th>
                <th>Status</th>
                <th>Tanggal Pemeriksaan</th>
            </tr>
            {% for item in check_head %}
            <tr>
                <td>{{ item.baby.id_baby }} </td>
                <td>{{ item.check }} </td>
                <td>{{ item.baby.umur_bulan_bayi }} bulan</td>  
                <td>{{ item.value }} cm</td>
                <td>{{ item.status }} </td>
                <td>{{ item.published_date}} </td>

            </tr>
            {% empty %}
            <tr>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                
            </tr>
            {% endfor %}  
        </table>
    </div>
    </div>

        <div class="gap"></div>

<div class="blog-item well">
       <div class="center">
<h2>Riwayat Pencatatan Imunisasi</h2>
</div>
            <div style="overflow-x:auto;">

        <table class="customers">
    
            <tr>
                <th>Nomor Balita</th>
                <th>Pemeriksaan</th> 
                <th>Usia</th>
                <th>Nilai</th>                
                <th>Tanggal Pemeriksaan</th>
            </tr>
            {% for item in check_immunization %}
            <tr>
                <td>{{ item.baby.id_baby }} </td>
                <td>{{ item.check }} </td>
                <td>{{ item.baby.umur_bulan_bayi }} bulan</td>
                <td>{{ item.imun_value }} </td>                
                <td>{{ item.published_date}} </td>
            </tr>
            {% empty %}
            <tr>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>                
                <td>data tidak tersedia </td>
                <td>data tidak tersedia </td>
                
            </tr>
            
            {% endfor %}  
        </table>
        </div>
        </div>
 

</div>  
</div>
</div>
</section>


<script type="text/javascript">
    $("#filter-baby").click(function(){
        var nomorbalita = $("#nomorbalita").val();
        if (nomorbalita){
            var url = "{% url 'show_pemeriksaan' %}?nomorbalita="+ nomorbalita;
            window.location.href=url
        }
        
        else{
            alert('tolong masukkan nomor balita');
        }
        
    });
</script>





{% endblock %}
