{% extends 'kelola/base.html' %}

{% block content %}
    <h1>New history</h1>
    <form method="POST" class="post-form" novalidate="#id_value">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    <script type="text/javascript">
    	$("#id_check").change(function() {
    		var check = $(this).val();
    		if (check == "immunization"){
    			$("#id_value").parent().hide();
    			$("#id_imun_value").parent().show();
    		}
    		else{
    			$("#id_value").parent().show(); 
    			$("#id_imun_value").parent().hide();
    		}


    	});

    	$(document).ready(function (){
    		$("#id_value").parent().hide(); 
    			$("#id_imun_value").parent().hide();

    	}); 
    </script>
{% endblock %}
