<!DOCTYPE html>
{% extends 'kelola/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Postingan</title>
</head>
<body>
{% block content %}

<div class="gap"></div>
    
<section id="recent-events">
    <div class="container">
        <div class="center">
            <h3>Detail Pengetahuan</h3>
            <p class="lead"></p>
        </div>  

        
    </div>

</section>

<section id="about-us" class="container main">
        <div class="row-fluid">
            <div class="span12">
                <div class="blog">

                
                    <div class="blog-item well hyphenate">
                        <h2> {{ knowledge.title }}</h2>
                        <div class="blog-meta clearfix">
                            <p class="pull-left">
                            <h5><i class="icon-folder-close"></i> Kategori: {{  knowledge.category }} | <i class="icon-calendar"></i> {{ knowledge.published_date }} </h5></p>
                          
                      </div>
                      
                      <p><h3> {{ knowledge.text|linebreaksbr }} </h3></p>
                     
                  </div>
                  <!-- End Blog Item -->
                
                  
</div>
</div>
</div>
</section>
{% endblock %}


</body>
</html>