
<!DOCTYPE html>
{% extends 'kelola/base.html' %}
{% load staticfiles %}

<html lang="en">
<head>
    <title>Kelola Pengetahuan</title>
    
    <!--<meta charset="UTF-8">-->
    <!-- Start Page Title -->

</head>

<body>



{% block content %}

	<section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Riwayat Pemeriksaan</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{% url 'knowledge_list' %}">Beranda</a> <span class="divider">/</span></li>
                        <li class="active">Riwayat Pemeriksaan</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->     



<div class="work-container">
<div class="container">
<div class="row">

<div class="gap"></div>
  <form align="center">
	      
	      <input type="number" id="nomorbalita" name="nomorbalita" placeholder="Masukkan Nomor Balita">
	      <a id="filter-baby" class="btn btn-default">Cari</a>
		</form>




<section id="about-us" class="container main">
        <div class="row-fluid">
            <div class="span12">
                <div class="blog">

		<table class="customers">
		<h2>Pemeriksaan Tinggi Badan</h2>
			<tr>
		    	<th>Id Baby</th>
		    	<th>Check</th> 
		    	<th>Value</th>
		    	<th>Status</th>
		    	<th>Date</th>
		  	</tr>
			{% for item in check_height %}
			<tr>
			    <td>{{ item.baby.id_baby }} </td>
			    <td>{{ item.check }} </td> 
			    <td>{{ item.value }} </td>
			    <td>{{ item.status }} </td>
			    <td>{{ item.published_date}} </td>
			</tr>
			{% empty %}
            	{% if request.GET.nomorbalita %}
            	<tr>
                	<td>data tidak tersedia </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% else %}
            	<tr>
                	<td>masukkan nomor bailita </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% endif %}
			{% endfor %}  
		</table>


<div class="gap"></div>
		<table class="customers">
		<h2>Pemeriksaan Berat Badan</h2>
			<tr>
		    	<th>Id Baby</th>
		    	<th>Check</th> 
		    	<th>Value</th>
		    	<th>Status</th>
		    	<th>Date</th>
		  	</tr>
			{% for item in check_weight %}
			<tr>
			    <td>{{ item.baby.id_baby }} </td>
			    <td>{{ item.check }} </td> 
			    <td>{{ item.value }} </td>
			    <td>{{ item.status }} </td>
			    <td>{{ item.published_date}} </td>

			</tr>
			{% empty %}
            	{% if request.GET.nomorbalita %}
            	<tr>
                	<td>data tidak tersedia </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% else %}
            	<tr>
                	<td>masukkan nomor bailita </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% endif %}
			{% endfor %}  
		</table>
<div class="gap"></div>
		<table class="customers">
		<h2>Pemeriksaan Lingkar Kepala</h2>
			<tr>
		    	<th>Id Baby</th>
		    	<th>Check</th> 
		    	<th>Value</th>
		    	<th>Status</th>
		    	<th>Date</th>
		  	</tr>
			{% for item in check_head %}
			<tr>
			    <td>{{ item.baby.id_baby }} </td>
			    <td>{{ item.check }} </td> 
			    <td>{{ item.value }} </td>
			    <td>{{ item.status }} </td>
			    <td>{{ item.published_date}} </td>

			</tr>
			{% empty %}
            	{% if request.GET.nomorbalita %}
            	<tr>
                	<td>data tidak tersedia </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% else %}
            	<tr>
                	<td>masukkan nomor bailita </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% endif %}
			{% endfor %}  
		</table>
<div class="gap"></div>
		<table class="customers">
		<h2>Imunisasi</h2>
			<tr>
		    	<th>Id Baby</th>
		    	<th>Check</th> 
		    	<th>Value</th>
		    	<th>Status</th>
		    	<th>Date</th>
		  	</tr>
			{% for item in check_immunization %}
			<tr>
			    <td>{{ item.baby.id_baby }} </td>
			    <td>{{ item.check }} </td> 
			    <td>{{ item.imun_value }} </td>
			    <td>{{ item.status }} </td>
			    <td>{{ item.published_date}} </td>
			</tr>
			{% empty %}
            	{% if request.GET.nomorbalita %}
            	<tr>
                	<td>data tidak tersedia </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% else %}
            	<tr>
            		<td>masukkan nomor bailita </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% endif %}
			{% endfor %}  
		</table>
</div>	


</div>
</div>
</section>
<div class="gap"></div>


<script type="text/javascript">
	$("#filter-baby").click(function(){
		var nomorbalita = $("#nomorbalita").val();
		if (nomorbalita){
			var url = "{% url 'show_history' %}?nomorbalita="+ nomorbalita;
			window.location.href=url
		}
		
		else{
			alert('tolong masukkan nomor balita');
		}
		
	});
</script>
</div>
</div>
</div>
{% endblock %}



</body>
</html>


