
<!DOCTYPE html>
{% extends 'kelola/base.html' %}
{% load staticfiles %}

<html lang="en">
<head>
    <title>Kelola Pengetahuan</title>
    
    <!--<meta charset="UTF-8">-->
    <!-- Start Page Title -->

</head>

<body>



{% block content %}

	

<section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Riwayat Pemeriksaan</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{% url 'knowledge_list' %}"><h4>Beranda / </h4></a> </li>
                        <li class="active"><h5>Riwayat Pemeriksaan</h5></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->  



<div class="gap"></div>
  

<section id="recent-works">
    <div class="container">
        <div class="center">
            <h3>Pencarian Riwayat Pemeriksaan</h3>
            
        </div>  

        <div class="center">
        <form>
    
      <input type="number" id="nomorbalita" name="nomorbalita" placeholder="Masukkan Nomor Balita">
      <a id="filter-baby" class="btn btn-warning">  <h5>Cari</h5></a>
    </form>
        
</div>
    </div>

</section>


<section id="about-us" class="container main">
        <div class="row-fluid">
            <div class="span12">
                <div class="blog">
        <div style="overflow-x:auto;">
        	<div class="center">
        		<h2>Pemeriksaan Tinggi Badan</h2>
        	</div>		        	
		<table class="customers">
		
			<tr>
		    	<th style="width: 10%">Nomor Balita</th>
		    	<th style="width: 15%">Pemeriksaan</th> 
		    	<th style="width: 10%">Nilai</th>
		    	<th style="width: 15%">Status</th>
		    	<th style="width: 15%">Tanggal Pemeriksaan</th>
		  	</tr>
			{% for item in check_height %}
			<tr>
			    <td>{{ item.baby.id_baby }} </td>
			    <td>{{ item.check }} </td> 
			    <td>{{ item.value }} </td>
			    <td>{{ item.status }} </td>
			    <td>{{ item.published_date}} </td>
			</tr>
			{% empty %}
            	{% if request.GET.nomorbalita %}
            	<tr>
                	<td>data tidak tersedia </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% else %}
            	<tr>
                	<td>masukkan nomor bailita </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% endif %}
			{% endfor %}  
		</table>
		</div>

<div class="gap"></div>
		
		<div style="overflow-x:auto;">
        	<div class="center">
        		<h2>Pemeriksaan Berat Badan</h2>
        	</div>		        	
		<table class="customers">
		
			<tr>
		    	<th style="width: 10%">Nomor Balita</th>
		    	<th style="width: 15%">Pemeriksaan</th> 
		    	<th style="width: 10%">Nilai</th>
		    	<th style="width: 15%">Status</th>
		    	<th style="width: 15%">Tanggal Pemeriksaan</th>
		  	</tr>
			{% for item in check_weight %}
			<tr>
			    <td>{{ item.baby.id_baby }} </td>
			    <td>{{ item.check }} </td> 
			    <td>{{ item.value }} </td>
			    <td>{{ item.status }} </td>
			    <td>{{ item.published_date}} </td>

			</tr>
			{% empty %}
            	{% if request.GET.nomorbalita %}
            	<tr>
                	<td>data tidak tersedia </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% else %}
            	<tr>
                	<td>masukkan nomor bailita </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% endif %}
			{% endfor %}  
		</table>
		</div>
<div class="gap"></div>

		<div style="overflow-x:auto;">
        	<div class="center">
        		<h2>Pemeriksaan Lingkar Kepala</h2>
        	</div>		        	
		<table class="customers">
		
			<tr>
		    	<th style="width: 10%">Nomor Balita</th>
		    	<th style="width: 15%">Pemeriksaan</th> 
		    	<th style="width: 10%">Nilai</th>
		    	<th style="width: 15%">Status</th>
		    	<th style="width: 15%">Tanggal Pemeriksaan</th>
		  	</tr>
			{% for item in check_head %}
			<tr>
			    <td>{{ item.baby.id_baby }} </td>
			    <td>{{ item.check }} </td> 
			    <td>{{ item.value }} </td>
			    <td>{{ item.status }} </td>
			    <td>{{ item.published_date}} </td>

			</tr>
			{% empty %}
            	{% if request.GET.nomorbalita %}
            	<tr>
                	<td>data tidak tersedia </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% else %}
            	<tr>
                	<td>masukkan nomor bailita </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% endif %}
			{% endfor %}  
		</table>
		</div>
<div class="gap"></div>

		<div style="overflow-x:auto;">
        	<div class="center">
        		<h2>Imunisasi</h2>
        	</div>		        	
		<table class="customers">
		
			<tr>
		    	<th style="width: 10%">Nomor Balita</th>
		    	<th style="width: 15%">Pemeriksaan</th> 
		    	<th style="width: 10%">Nama Imunisasi</th>
		    	<th style="width: 15%">Status</th>
		    	<th style="width: 15%">Tanggal Pemeriksaan</th>
		  	</tr>
			{% for item in check_immunization %}
			<tr>
			    <td>{{ item.baby.id_baby }} </td>
			    <td>{{ item.check }} </td> 
			    <td>{{ item.imun_value }} </td>
			    <td>{{ item.status }} </td>
			    <td>{{ item.published_date}} </td>
			</tr>
			{% empty %}
            	{% if request.GET.nomorbalita %}
            	<tr>
                	<td>data tidak tersedia </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% else %}
            	<tr>
            		<td>masukkan nomor bailita </td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
                	<td>-</td>
            	</tr>
            	{% endif %}
			{% endfor %}  
		</table>
		</div>
</div>	


</div>
</div>
</section>
<div class="gap"></div>


<script type="text/javascript">
	$("#filter-baby").click(function(){
		var nomorbalita = $("#nomorbalita").val();
		if (nomorbalita){
			var url = "{% url 'show_history' %}?nomorbalita="+ nomorbalita;
			window.location.href=url
		}
		
		else{
			alert('tolong masukkan nomor balita');
		}
		
	});
</script>

{% endblock %}



</body>
</html>


